.photo-container {
  max-width: 75%;
  margin: 20px auto;
}
.photo {
  width: 400px;
}
.photo-paragraph {
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .photo {
    width: 200px;
  }
}
